@charset "utf-8";

html {
	font-size: 16px;
	margin: 0;
	padding: 0;
}
body {
	background-color: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	height: 100%;
	min-width: 90em;
	width: 100%;
	margin: 0;
	padding: 0;

}

p, h1 {
	padding: 0;
	margin: 0;	
}

*{ box-sizing: border-box; }

/********** Color / shadows *************/
.bc-orange {
	background-color: rgb(240, 169, 42) !important;
}
.bc-blue {
	background-color: #09F !important;
}
.bc-blue-h:focus {
	background-color: rgb(238, 241, 243) !important;
}
.bc-yellow {
	background-color: #FF0 !important;
}
.bc-green {
  background-color: rgb(125, 209, 46) !important;
}

.bc-grey-lighter {
	background-color: #F6F6F6 !important;
}

.bc-grey {
	background-color: rgb(236, 236, 236) !important;
}

.bc-grey-dark {
	background-color: #4F4F4F !important;
}

.bc-purple {
	background-color: #953cac !important;
}

.box-shadow {
	box-shadow: #BCBCBC 1px 1px 1px !important;
}

/*********** Borders **********/
.border-left {
	border-left: thin, solid;
}
.border-right {
	border-left: thin, solid;
}
.border-color-grey {
	border-color: #BEBEBE;
}




/*********** Templates **************/

.templ-content {
	background-color: #FDFDFD;
	padding: 0.3em;
	min-height: 5em;
}

.templ-inp-content-cleaned {
	border: 0;
	font-size: 1.6em;
	padding: 0.5em 1em 1em 0.5em;
	min-height: 10em;
	max-width: 100%;
	width: 100%;
	
	transition-property: min-height;
	transition-duration: 1000ms;
}


.templ-inp-content-cleaned:focus {
		min-height: 20em;
	
}


.templ-content-cleaned-h {
	background-color: #09F;
}



.s-cleaned-text-templ {
	border-bottom: 1px solid #ABABAB;	
}



.s-final-text-templ {
}

.s-final-text-templ > div {
	padding-left: 1em;
	padding-bottom: 2em;
	padding-right: 1em;
}

.s-final-text-templ h3 {
	font-weight: bold;
	margin-bottom: 0;
}

.s-final-text-templ li {
}

.s-final-text-templ p {
	line-height: 1.6em;
}





/******* Main structure *******/ 
.s-float-left  {
	/*float: left;*/
	display: inline-block;
	vertical-align: top;	
}
.s-marg-r-3per {
	margin-right: 1em;
}
.s-width-50per {
	
}

.fixed {
	position: fixed !important;	
}


/********* General ************/ 

p, li, h3 {
	font-size: 1.6em;	
}


h2 {
	font-size: 1.6em;
	background-color: rgb(104, 104, 104);
	color: #FFF;
	box-shadow: #BCBCBC 1px 1px 1px;
	padding: 0.5em 0.7em;
}
.inp-button {
	font-size: 16px;
	background-color: #4F4F4F;
	border: none;
	border-right: solid #7C7C7C 1px;
	color: rgb(179, 179, 179);
	height: 2em;
	width: 3.5em;
}
.inp-button:first-of-type {
	border-left: solid #7C7C7C thin;
}

.inp-button:not(.inp-button-toaster):hover {
	background-color: rgb(125, 209, 46);
	color: #E4E4E4;
}

.inp-button-backgr {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 35%;	
}

.inp-button-toaster {
	background-image: url(../img/structure_images/toaster.png);
	cursor: default;
}

.inp-button-clean {
    background-image: url(../img/structure_images/clean.png);
}

.inp-button-write {
	 background-image: url(../img/structure_images/write.png);	
}

.inp-button-save {
	 background-image: url(../img/structure_images/save.png);		
}

/*unsaved work*/
.inp-button-save.js-unsaved {
	 background-color: rgb(240, 169, 42);
	 transition: ease-in;
	 transition-property: background-color;
	 transition-duration: 600ms;
}

.label {
	font-size: 1.6em;
}



/********* Header **************/ 

header {
	font-size: 0;
	margin-bottom: 16px;
	position: fixed;
	width: 100%;
	z-index: 99;
}


/********* Working container **************/ 

.working-container {
	padding-top: 5em;
}



/********* Sections **************/ 

section {
	border: thin rgb(224, 224, 224) solid;	
	background-color: rgb(255, 255, 255);
	padding: 1em 1em 2em 1em;
	margin-bottom: 3em;
	width: 40%;
}


/********* Left section **************/ 

.section-left {
	margin-left: 1em;
}

.section-left 
h2 {
	background: rgb(104, 104, 104);
	color: #FFF;
	width: 100%;
	padding: 0.6em 1em;
}

.inp-form-pa_text {
	box-shadow: none;
	background-color: #F6F6F6;
	border: 0;
	font-size: 1.6em;
	max-width: 100%;
	min-height: 10em;
	padding: 0.5em 1em 1em 0.5em;
	width: 100%;
	transition-property: height;
	transition-duration: 1000ms;
}


.inp-form-pa_text:focus {
	height: 20em;
}


.inp-select {
	font-size: 1.6em;
	min-width: 8em;
}

.result {

}
.result span {
	color: #F00;
}


/********* Right section **************/ 

.section-right {
	padding-left: 3em;
}

.section-right h2 {
	width: 85%;
	
}

.section-right input[type=text], 
.section-right textarea  {
	color: #1D1D1D;
}

.section-right 
input[type=text] {
	font-size: 1.6em;
	height: 2em;
	margin-bottom: .5em;
	padding-left: .5em; 
	width: 85%;
}

.section-right 
input[type=date] {
	font-size: 1.6em;
	height: 2em;
	margin-bottom: .5em;
	padding-left: .5em; 
	width: 40%;
}



.section-right 
input[name=designer] {
	width: 40%;
}

.section-right 
input[name=bn] {
	width: 30%;
}

.section-right 
select[name=language] {
	height: 2em;
	width: 25%;
}

.section-right 
input[type=text]:focus {
	background-color: rgb(238, 241, 243);
}

.section-right 
textarea {
	font-size: 1.6em;
	height: 5em;
	max-width: 85%;
	margin-bottom: 0.5em;
	padding-left: .5em; 
	padding-top: .5em;
	width: 85%;
}
.section-right 
textarea:focus {
	background-color: rgb(238, 241, 243);
}

.section-right 
input[type=radio] {
	font-size: 1.6em;
	margin-bottom: 1em;
}



